/* ==========================================================================
                                G E N E R A L
   ========================================================================== */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
body.body-login {
  background-color: #EEEEEE;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

#wrap > .container {
  padding: 100px 75px 0 15px;
}

.body-login #wrap > .container{
  padding: 0 15px;
}

.breadcrumb {
  top: 50px;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.section-buttons {
  margin-bottom: 10px;
}

/* ==========================================================================
                                  H E A D E R
   ========================================================================== */
header > .container {max-width: none;}

/* ==========================================================================
                                  L O G  I N
   ========================================================================== */
.body-login h3 {text-align: center;}
.form-login {
  margin: 80px auto 0;
  max-width: 380px;
  padding: 15px;
}
.form-login input[type="text"],
.form-login input[type="password"] {
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-login .input-group{
  margin-top: 10px;
}

/* ==========================================================================
                              N A V  L A T E R A L
   ========================================================================== */
#nav-lateral {
  background-color: #F5F5F5;
  right: 0;
  position: fixed;
  height: 100%;
  top: 0;
  width: 60px;
  margin-top: 50px;
  z-index: 101;
}

/* ==========================================================================
                                   M O D A L
   ========================================================================== */
.modal-body {font-size: 0;}
.modal-body > .form-group {
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
    width: 50%;
}
.form-group, .modal-body label {
    font-size: 14px;
}

/* ==========================================================================
                                  M E S S A G E S
   ========================================================================== */
.input-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
  padding: 3px 10px;
  margin-top: 5px; 
}

/* ==========================================================================
                                  F O O T E R
   ========================================================================== */
footer {
  height: 30px;
  background-color: #f5f5f5;
  line-height: 30px;
}
footer p {margin: 0;}
.body-login footer {text-align: center;}


/* ==========================================================================
                                    R W D
   ========================================================================== */
@media (max-width: 767px) {
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
