/* ==========================================================================
                                T E M P L A T E
   ========================================================================== */
body {background-color: #ffffff; font-family: "Open Sans", Calibri, Candara, Arial, sans-serif; font-size: 14px; color: #555555; line-height: 20px; padding: 70px 100px 40px 0px;}
h1, h2, h3, h4, h5, h6 {font-weight: 300;}
h1 {margin: 0;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {height: 24px; line-height: 24px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
#header span.trigger{display:block;position:absolute; background:url(../img/tm/pro_button.png) 0 0 no-repeat; width:42px; height:42px; left:0; top:51px; cursor:pointer;}
#header span.trigger strong{display:block; background: url(../img/tm/plus-minus.png) 0 0 no-repeat; width:11px; height:11px; position:absolute; left:7px; bottom:24px; opacity:0;}
#header span.trigger em{display:block; background: url(../img/tm/plus-minus.png) -11px 0 no-repeat; width:11px; height:11px; position:absolute; left:7px; bottom:24px;}
.navbar h1 .brand {padding: 5px 15px;}
.navbar .nav > li > a {padding: 15px;}
.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox {margin-top: 8px;}
.navbar-inverse .brand, .navbar-inverse .brand, .navbar-inverse .nav > li > a { color: #ffffff;}
.navbar-inverse .nav > li > a:hover, .navbar-inverse .navbar .nav > li.active a { background: #D5D90D; color: #1B1B1B;}
.navbar .btn, .navbar .btn-group {margin-top: 8px;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a, .dropdown-submenu:focus > a { background-color: #007af5; background-image: none;}
.dropdown-menu > li > a {color: #999999;}
.hero-unit { background: #eeeeee;}
.btn {background-color: #dfdfdf; *background-color: #c8c8c8; color: #999999;}
.btn:hover, .btn:focus {
  color: #777777;
  -webkit-transition: background-position 0.2s linear;
     -moz-transition: background-position 0.2s linear;
       -o-transition: background-position 0.2s linear;
          transition: background-position 0.2s linear;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {background-color: #c8c8c8; *background-color: #bbbbbb;}
.btn-primary, .btn-warning, .btn-danger, .btn-success, .btn-info, .btn-inverse {color: #ffffff;}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {color: rgba(255, 255, 255, 0.75);}
.btn-primary {background-color: #0f82f5; *background-color: #0072e6;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {color: #ffffff; background-color: #0072e6; *background-color: #0066cc;}
.btn-primary:active, .btn-primary.active {background-color: #0059b3 \9;}
.btn-warning {background-color: #fe781e; *background-color: #fe6600;}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {color: #ffffff; background-color: #fe6600; *background-color: #e45c00;}
.btn-warning:active, .btn-warning.active {background-color: #cb5200 \9;}
.btn-danger {background-color: #f50f43; *background-color: #e60033;}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {color: #ffffff; background-color: #e60033; *background-color: #cc002e;}
.btn-danger:active, .btn-danger.active {background-color: #b30028 \9;}
.btn-success {background-color: #41bb19; *background-color: #379f15;}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {color: #ffffff; background-color: #379f15; *background-color: #2f8912;}
.btn-success:active, .btn-success.active {background-color: #28720f \9;}
.btn-info {background-color: #9b59bb; *background-color: #8d46b0;}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {color: #ffffff; background-color: #8d46b0; *background-color: #7e3f9d;}
.btn-info:active, .btn-info.active {background-color: #6f378b \9;}
.btn-inverse {background-color: #080808; *background-color: #000000;}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {color: #ffffff; background-color: #000000; *background-color: #000000;}
.btn-inverse:active, .btn-inverse.active {background-color: #000000 \9;}
.hero-unit, .dropdown-menu {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.btn {padding: 8px 16px; text-shadow: none; background-image: none; border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
       -o-transition: all 0.4s linear;
          transition: all 0.4s linear;
}
.btn-large {padding: 22px 30px;}
#nav-left {background: #1B1B1B url(../img/bg-content.jpg); border-left: 1px solid #2D2D2D; height: 100%;  position: fixed; right: 0; top: 0; width: 100px;}
.navbar-inverse .navbar-inner {background: #1B1B1B url(../img/bg-content.jpg); border-bottom: 1px solid #2D2D2D;}
