/* ==========================================================================
                                G E N E R A L
   ========================================================================== */
html, body {height: 100%;}
/*body.body-login {background: #181818 url(../img/background.jpg) no-repeat; background-size: 100% 100%;}*/
#loading-ajax, .dataTables_processing {background: url("../img/loader.gif") no-repeat scroll 10px center #8d82b5; color: #ffffff; display: none; left: 50%; line-height: 40px; margin: 0 0 0 -65px; padding: 0 15px 0 50px; position: fixed; top: 0; z-index: 10000; }
#wrap {height: 100%; margin-bottom: -40px; padding-bottom: 40px;}
.body-login #wrap > .container{padding: 0 15px;}
.bottom {margin-bottom: 10px;}
.top {margin-top: 10px;}
.margin-zero {margin: 0;}
.none {display: none;}
.edit > strong {line-height: 30px;}
.settings .panel, .settings .panel-heading {border-radius: 0;}
.settings form {padding: 0; font-size: 0;}
.settings .form-control-static {background-color: #FBFBFB; line-height: 34px; padding: 0 10px;}
.save-loading img{width: 16px;}
.save-loading > span:last-child {display: none;}
.none {display: none;}
.more-fields {cursor: pointer; margin: 5px 5px 15px; position: relative;}
.more-fields hr {margin: 0; position: absolute; top: 9px; width: 100%;}
.more-fields strong {background-color: #FFFFFF; font-size: 13px; margin: 0 0 0 10px; padding: 0 5px; position: relative; z-index: 1;}
.more-fields span {background-color: #FFFFFF; font-size: 14px; padding: 0 3px;}
.text-size-standar {font-size: 14px !important;}
*[hidden] { display: none; }

#link-profile .my-photo {color: #84868e; opacity: .8; display: inline-block; margin: -12px 20px 0 0; padding: 0; vertical-align: top; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
#link-profile:hover .my-photo {background-color: transparent; opacity: 1; text-decoration: none;}
#link-profile .my-photo > div {border-radius: 50%; background-color: #333747; background-position: center center; background-repeat: no-repeat; background-size: auto 100%; display: inline-block; height: 36px; width: 36px;}
#link-profile div.my-photo {margin: 0 10px 0 0; height: 50px;}
#link-profile div.my-photo + div {width: 200px; display: inline-block; margin-top: 5px;}
#link-profile div.my-photo + div a {font-weight: normal;}
#link-profile div.my-photo + div a:hover {text-decoration: underline;}
#link-profile div.my-photo > div {border-radius: 0; height: 50px; width: 50px;}
#link-profile .dropdown-menu {margin-right: 15px; margin-top: 7px;}
.logout {font-size: 10px; padding: 1px 5px 2px;}
.new-option {font-weight: bold; color: #FFFFFF; background-color: #5cb85c;}

body.body-login .language {display: block;}
body.body-login .credit { float: right;}
.language {display: none; left: 0; list-style: outside none none; margin: 0; padding: 0; position: absolute; top: 0; }
.language li{float: left; border-right: 1px solid #ffffff;}
.language a {display: block; height: 39px; padding: 0 10px; line-height: 39px;}
.language a:hover, .language .active a {background-color: #8d82b5; color: #ffffff; text-decoration: none;}
.smpt-title {margin-left: 5px;}

.file-buttons {margin: 0 auto; width: 175px;}
.caret-left {border-bottom: 4px solid rgba(0, 0, 0, 0); border-left: 4px solid; border-top: 4px solid rgba(0, 0, 0, 0);}
.on-off, .modal .on-off {text-align: center; font-size: 0; width: 100px;}
.btn-group.on-off > .btn, .btn-group-vertical.on-off > .btn {display: inline-block; float: none;}

.note-link-dialog .modal-dialog {width: 300px;}
.note-link-dialog .modal-body .form-group {width: 100%;}
.note-link-dialog h4 {margin: 0;}
.note-help-dialog .modal-dialog {width: 560px;}
.modal-body .panel {font-size: 14px;}
.cms .panel {border-top-left-radius: 0; border-top-right-radius: 0;}
.cms .panel-heading {border-radius: 0;}
.loading {display: none; margin: 10px; padding: 5px;}
.signup .input-group {width: 100%;}

#alert-modal .modal-dialog {margin-top: 150px; max-width: 500px;}
#alert-modal .modal-header {padding: 10px 15px;}
#alert-modal .modal-body {font-size: 14px; min-height: 60px; padding: 15px;}
#alert-modal .modal-footer {padding: 10px;}

/* ==========================================================================
                                  H E A D E R
   ========================================================================== */

/* ==========================================================================
                                  L O G  I N
   ========================================================================== */

/* ==========================================================================
                              N A V  L A T E R A L
   ========================================================================== */
#nav-lateral {background-color: #F5F5F5;left: 0;position: fixed;height: 100%;top: 0;width: 38px;margin-top: 50px;z-index: 101;}
#nav-lateral div > a {background-position: center center; background-repeat: no-repeat; background-size: auto 100%; border-bottom: 1px solid #FFFFFF; display: block; font-size: 16px; height: 38px; line-height: 38px; text-align: center; text-decoration: none; width: 38px;}
#nav-lateral div > a:hover, #nav-lateral div > a.active {background-color: #428BCA; color: #fff; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}

/* ==========================================================================
                      T A B L E  A N D  D A T A T A B L E S
   ========================================================================== */
table .sorting, table .sorting_asc, table .sorting_desc, table .sorting_asc_disabled, table .sorting_desc_disabled {cursor: pointer;}
table .sorting { background: url('../lib/jquery.datatables/images/sort_both.png') no-repeat center right;}
table .sorting_asc { background: url('../lib/jquery.datatables/images/sort_asc.png') no-repeat center right;}
table .sorting_desc { background: url('../lib/jquery.datatables/images/sort_desc.png') no-repeat center right;}
table .sorting_asc_disabled { background: url('../lib/jquery.datatables/images/sort_asc_disabled.png') no-repeat center right;}
table .sorting_desc_disabled { background: url('../lib/jquery.datatables/images/sort_desc_disabled.png') no-repeat center right;}
.dataTables_wrapper {margin-bottom: 10px;}
.table td.edit {padding: 3px 0; text-align: center;}
.table th.edit {width: 48px !important; text-align: center;}
.table th.state {width: 92px !important; text-align: center;}
.check-item, .table th.check-all {cursor: pointer;}
.table th.check-all {width: 40px; vertical-align: top;}
.table th.check-all i {margin-top: 3px;}
tr.active .check-item i, .all-selected .check-all i {border-color: #a49bc4; color: #a49bc4;}
.dataTable {margin-bottom: 5px;}
.dataTables_paginate a{ border: 1px solid #DDDDDD; display: inline-block; margin-left: 2px; padding: 4px 12px; text-decoration: none; cursor: pointer;}
.dataTables_paginate a:hover, .dataTables_paginate a.paginate_active, .dataTables_paginate a.paginate_button_disabled {background-color: #F5F5F5;}
.dataTables_paginate a.paginate_active, .dataTables_paginate a.paginate_button_disabled {color: #999999;}
#main-table_length, #main-table_paginate { text-align: right;}
.paginate_button.current, .paginate_button.current:hover {background-color: #8d82b5; color: white; cursor: default;}
.dataTables_paginate a.disabled {cursor: default; color: #cccccc; background-color: #eeeeee;}
.dataTables_paginate a.disabled:hover {background-color: #eeeeee;}

/* ==========================================================================
                                   M O D A L
   ========================================================================== */
.modal .modal-body {font-size: 0;}
.modal-body .form-group {display: inline-block;padding: 0 5px;vertical-align: top;width: 50%;}
.form-group, .modal-body table, .modal-body p, .modal-body li, .modal-body .alert, .modal-body label, .modal-body input, .modal-body select, .modal-body div, .modal-body ul, .modal-body ol, .modal-body, .settings .filter form {font-size: 14px;}
.modal-body .form-group > .alert{font-size: 12px; margin: 0 0 10px; padding: 10px;}
.form-group.radio-group, .radio-group {width: 100%;}
.radio-group label {width: 30%;}
.font-default {font-size: 14px;}
.section-buttons {margin-bottom: 20px;}
.filter form > div, .filter form > button {display: inline-block; vertical-align: bottom; max-width: 200px; margin: 0 0 10px;}
.filter form > button {min-width: 80px;}
.title-panel button {margin: -10px 0 -7px;}
.modal .modal-body {padding-bottom: 0;}
.alert.data-modified {font-size: 0.8em; font-style: italic; line-height: 14px; margin: 1px 0 0; padding: 1px 4px; text-align: left; width: 276px;}

/* ==========================================================================
                                S O R T A B L E
   ========================================================================== */
ol.sortable div {margin: 0 0 3px; text-align: left; text-indent: 20px; cursor: move; position: relative;}
ol.sortable, ol.sortable ol {list-style: none outside none;}
ol.sortable {margin: 10px 0; padding: 0 30px;}
ol.sortable .badge:after {content: "module"; font: bold 12px Arial; margin: 0 0 0 -20px;}
ol.sortable .badge {position: absolute; right: 15px; top: 5px;}
ol.sortable ol .badge:after {content: "section";}
ol.sortable ol ol .badge:after {content: "subsection";}
ol.sortable.cms .badge:after {content: "section";}
ol.sortable.cms ol .badge:after {content: "subsection";}

/* ==========================================================================
                            F O R M  A N D  I N P U T
   ========================================================================== */
.fileinput-button {overflow: hidden;position: relative;}
.fileinput-button input {cursor: pointer;height: 71px;left: -40px;opacity: 0;position: absolute;top: 0;width: 300px;}
.modal-header h3, .modal-body .form-group label > strong, form .form-group label > strong {color: #B94A48;}
.modal-body .form-group label > input + strong, form .form-group label > input + strong {color: #333333;}
.btn-on-off strong {font-size: 1.2rem;}
form .form-group .btn-primary > strong, .modal .form-group .btn-primary > strong {color: #ffffff;}

/* ==========================================================================
                                P R O F I L E
   ========================================================================== */
figure.photo-user {position: relative;min-height: 150px;text-align: center;}
figure.photo-user img {box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.8);margin: 0 auto;}
figure.photo-user figcaption {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);display: none;height: 100%;left: 0;position: absolute;text-align: center;top: 0;width: 100%;}
figure.photo-user:hover figcaption {display: block;}
figure.photo-user figcaption > .btn.btn-primary {margin: 50px 0 5px; width: 150px;}
figure.photo-user figcaption > .btn.btn-danger {width: 150px;}
figure.photo-user figcaption > .btn {float: none;margin: 0 0 10px;}

/* ==========================================================================
                                M E S S A G E S
   ========================================================================== */
.input-error {background-color: #f2dede; border-color: #eed3d7; color: #b94a48; font-size: 12px !important; margin-top: 3px; padding: 2px 5px; }
.n-success {background-color: rgba(65, 187, 25, .8);}
.n-error {background-color: rgba(245, 15, 67, .8);}
.n-mail {background-color: rgba(66, 139, 202, .8);}
.gritter-item .glyphicon {color: #ffffff; font-size: 20px;}

/* ==========================================================================
                                  C A L L  O U T
   ========================================================================== */
.bs-callout {border-left: 5px solid #EEEEEE; margin: 20px 0; padding: 15px 30px 15px 15px;}
.bs-callout-danger {background-color: #FCF2F2; border-color: #DFB5B4;}
.bs-callout-warning {background-color: #FEFBED; border-color: #F1E7BC;}
.bs-callout-info {background-color: #F0F7FD; border-color: #D0E3F0;}

/* ==========================================================================
                                  F O O T E R
   ========================================================================== */
/*.body-login footer {text-align: center; padding-right: 0;}
*/
/* ==========================================================================
                                Articles
========================================================================== */
#articles-container h3 {margin: -2px 0 5px;}
.multimedia {margin: 15px;}
.multimedia .row {margin: 15px 5px 0;}
.multimedia .row > div {padding: 0 5px;}
.multimedia .thumbnail {margin-bottom: 10px; position: relative;}
.multimedia .thumbnail .caption {display: none; left: 0; padding: 0; position: absolute; text-align: center; top: 4px; width: 100%; }
.multimedia .thumbnail .caption .bg-buttons {background: rgba(0, 0, 0, 0.6); margin: 0 4px; padding: 3px 0; }
.multimedia .thumbnail:hover .caption {display: block;}
.multimedia .thumbnail .img {height: 120px; background-position: center center; background-repeat: no-repeat;}
.multimedia .fileinput-button {margin-left: 10px;}
.multimedia textarea {resize: none; display: none; border: medium none; font-size: 13px; height: 50px; margin-bottom: -4px; line-height: 16px; padding-top: 2px; width: 100%;}
.multimedia .edit-files {margin-right: 10px;}

.audiojs { width: 538px; height: 26px; background: #404040; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444)); background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%); -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);} 
.audiojs .play-pause { width: 24px; height: 26px; padding: 0px 8px 0px 0px;}
.audiojs p { width: 25px; height: 26px; margin: -1px 0px 0px -1px;}
.audiojs .scrubber { background: #5a5a5a; width: 365px; height: 10px; margin: 8px 2px 8px 8px;}
.audiojs .progress { height: 10px; width: 0px; background: #ccc; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc)); background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%);} 
.audiojs .loaded { height: 10px; background: #000; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222)); background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%);}
.audiojs .time { float: left; height: 25px; line-height: 28px;}
.audiojs .error-message { height: 24px;line-height: 24px;}

.birthday .form-group {width: auto;}

/* ==========================================================================
                                R W D
========================================================================== */
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  footer {text-align: center;}
  .table {display: block;font-size: 0;}
  .table thead {display: inline-block;font-size: 14px;padding-left: 0;vertical-align: top;width: 30%;}
  .table tbody {display: inline-block;font-size: 0;margin-top: -1px;overflow: auto;white-space: nowrap;width: 70%;}
  .table thead tr, .table thead th {display: block;}
  .table tbody tr {display: inline-block;font-size: 14px;vertical-align: top;}
  .table tbody td {border-width: 1px 1px 0 0 !important;display: block;height: 40px;}
  .table thead th {border-bottom: 1px solid #E0E0E0;height: 40px;line-height: 36px;overflow: hidden;padding: 0;text-indent: 10px;width: 100% !important;}
  .check-all i {margin: 12px 10px 0;}
  .check-all i:after {content: "Select all";float: left;margin: -3px 0 0 10px;width: 80px;}
  .table th.edit, .table th.state {text-align: left;width: auto !important;}
  .table th.check-all {padding: 10px 8px;}
  .table td.check-item {padding: 9px 0;cursor: pointer;border-radius: 2px;}
  .modal-body .form-group {display: block; width: 100%;}
  .create-user form > div, .create-user form .btn-primary {width: 100%;}
  .create-user form .btn-primary {margin-top: 15px;}
  .birthday .form-group {width: 25%; display: inline-block;}
  #nav-lateral {display: none;}
  #form-create {padding: 5px 15px; margin-top: 60px;}
  #form-create .row > .col-md-6:first-child {padding-right: 15px;}
  #form-create .row > .col-md-6:last-child {padding-left: 54px;}
}

/* Medium devices (tablets, 992px and up) */
@media (max-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 

}
