.info-articles {overflow: hidden;}
.list-pending div.list-group-item {padding: 0; position: relative;}
.list-pending a.list-group-item {padding-right: 24px;}
.list-pending > .list-group-item .delete-favorite-list {color: #ccc; margin-top: -7px; position: absolute; right: 9px; top: 50%; display: none;}
.list-pending > .list-group-item:hover .delete-favorite-list {display: block; text-decoration: none;}
.list-pending > .list-group-item .delete-favorite-list:hover {color: #999;}
.glyphicon-star {color: #F0AD4E;}
.glyphicon-star-empty, .glyphicon-download-alt {color: #777777;}
.info-article {position: relative;}
.info-article .action-favorite {
  position: absolute;
  right: -2px;
  top: -4px;
}
.modal-header .action-favorite {float: left; font-size: 24px; margin: -3px 7px 0 3px;}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {height: auto;}
.document i.fa, .documents i.fa{font-size: 20px;margin-right: 2px;}
.documents i.fa{margin-left: 4px; margin-top: 7px;}
.multimedia .document {padding: 5px;}
.masonry > div, .collapse-row > div {padding: 0 5px;}
.info-article h3 {color: #337ab7; font-size: 18px; margin: 0 0 5px; padding-right: 52px;}
.info-article p {
  font-size: 10px;
  line-height: 12px;
  margin: -5px 0 5px 29px;
  width: 100%;
}
.categories {
  background-color: #eee;
  margin: 3px -5px -5px;
  padding: 2px 5px;
}
.categories > div {font-size: 12px;}
.info-article .glyphicon-download-alt {
  font-size: 20px;
}
.fixed-container .panel-footer {
  overflow: hidden;
}
.document .delete {
  color: #aaa;
  margin: 3px 0 0 5px;
}
.document .delete:hover {color: #eee;}
.select-required {
  color: #f55753 !important;
  float: right;
  font-size: 18px;
  line-height: 1px;
  margin: 11px 6px 0 0;
}
.info-article .fa-file-word-o {
  background: none repeat scroll 0 0 #337ab7;
  border-radius: 3px;
  color: white;
  float: left;
  font-size: 20px;
  margin: 2px 5px 0 0;
  padding: 3px;
}
.ms-res-item.ms-res-item-active {
  background-color: #8d82b5;
  color: white;
}
.info-article .dropdown-menu {
  left: -143px;
  top: 15px;
  width: 165px;
}
.add-favorite, .delete-favorite {
  float: right;
  font-size: 20px;
  margin: -2px -3px 0 0;
}
.details-article {
  cursor: pointer;
}
.input-search .form-control {
    border-color: rgba(0,0,0,.2);
}
.input-search .btn {
    width: 80px;
}
.article-form {
  padding-bottom: 5px;
  padding-top: 10px;
}
.details-article iframe {
  border: medium none;
  height: 150px;
  width: 100%;
}
.description iframe {
  background: #eeeeee none repeat scroll 0 0;
  border: 1px solid #ccc;
  height: 300px;
  width: 100%;
}
.modal-header .close {
  font-size: 45px;
  font-weight: 300;
  margin: -10px 4px 0 0;
}
.modal-body .label {
  font-size: 10px;
}