@import url('fontawesome/font-awesome.css'); /*Icons Fonts*/

/*****************************
General
*****************************/
body {background-color:#f9f9f9; color:#85868d; font-family: 'Raleway', sans-serif; position:relative;}
body, html{overflow-x:hidden;}
strong, b{font-weight:700;}
a {color: #8d82b5;}
a:hover {color: #6b5f98;}
a:focus{outline:none;}
.close {font-size: 25px; font-weight: normal;}
.modal-header .close {margin-top: -5px;}
.transit{transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s;}
.btn, .form-control, .label, .alert, .nav-tabs > li > a, .navbar-nav > li > .dropdown-menu, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-group-addon, .thumbnail, .panel-heading, .panel, .dropdown-menu {
  border-radius: 3px;
}
.margin-zero {margin: 0;}
.letters .label {display: inline-block; margin-bottom: 3px; padding: 6px;}
.article-form form > div {
  margin: 0 10px;
}

/*****************************
Modals and form
*****************************/
.modal-header, .modal-footer {border: none;}
.modal-header {padding: 25px 25px 0;}
.modal-body {padding: 15px 20px;}
.modal-footer {padding: 10px 25px 25px;}
.modal-content {box-shadow: none; border: none;}
.filter {padding-bottom: 0;}
.form-group > label:not(.checkbox-inline), .filter div > label {color: #626262; font-size: 0.85em; text-transform: uppercase;margin-bottom: 0;}
.form-group {margin-bottom: 10px;}
.form-control {border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: none;}
.form-control:focus {background-color: #f0f0f0; border: 1px solid rgba(0, 0, 0, 0.15); box-shadow: none; outline: 0 none !important;}
.form-group-default, .modal-body .form-group-default {background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; margin: 4px 0 6px; padding: 7px 12px 4px; position: relative; transition: background-color 0.2s ease 0s;}
.form-group-default.required:after {color: #f55753; content: "*"; font-family: arial; font-size: 20px; position: absolute; right: 15px; top: 5px;}
.form-group-default.focused {background-color: #f0f0f0; border-color: rgba(0, 0, 0, 0.15) !important; position: relative;}
.form-group-default.focused:before {content: ""; position: absolute; right: -1px; top: 0; height: 100%; display: block; width: 1px; border-right: 1px solid rgba(0, 0, 0, 0.1); z-index: 1;}
.form-group-content .form-group-default.focused:last-child:before {border: none;}
.form-group-default label {display: block; margin: 0; transition: opacity 0.2s ease 0s;}
.form-group-default.focused label {opacity: 0.4;}
.form-group-default .form-control {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: medium none; height: 25px; margin-top: -4px; min-height: 25px; padding: 0;}
.form-group-default .form-control:focus {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
.form-group-content, .modal-body .form-group-content {font-size: 0; padding: 0 5px;} 
.form-group-content .form-group-default {border-radius: 0; border-right: none;}
.form-group-content .form-group-default:first-child {border-top-left-radius: 2px; border-bottom-left-radius: 2px;}
.form-group-content .form-group-default:last-child, .form-group-content .form-group-default.border-right {border-right: 1px solid rgba(0, 0, 0, 0.1); border-top-right-radius: 2px; border-bottom-right-radius: 2px;}

/*****************************
Tabs with panel
*****************************/
.panel {box-shadow: none;}
.panel.tab-pane.tabs-up {border-top:0px; border-top-left-radius:0px; border-top-right-radius:0px;}
.tab-container {margin-top: 10px;}
.tab-container .tab-pane {margin: 0 0 15px;}
.tab-container .panel-body {font-size: 0;}

/*****************************
Left Panel (aside navigation)
*****************************/
.logo {padding: 12px 10px 12px 22px; display:block; color:#fff; font-size: 30px; background-color: #8d82b5; -webkit-box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.3); box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.3);}
.logo span:last-child {font-size: 36px; display: none;}
.logo.active {text-align: center; padding: 8px 1px 8px 0;}
.logo.active span:last-child {display: block;}
.logo.active span:first-child {display: none;}

aside.left-panel{background-color:#2b2f3e; width:230px; position:fixed; padding: 0px 0px 25px; box-shadow:inset -5px 0px 8px rgba(0,0,0,0.3); height:100%; top:0px; left:0px;}
aside.left-panel.collapsed{overflow:visible !important; /*position:absolute;*/ bottom:0px;}

/*** Aside sizes ***/
aside.left-panel.lg{width:250px;}
aside.left-panel.lg + .content{margin-left:250px;}

/*** Aside Collapsed ***/
@media (min-width: 768px) {
	aside.left-panel.collapsed{width:75px; text-align:center;}
	aside.left-panel.collapsed + .content{padding-left:75px;}
	aside.left-panel.collapsed .user .user-login,
	aside.left-panel.collapsed span.nav-label{display:none;}
	aside.left-panel.collapsed .navigation > ul > li > a{padding:20px;}
	aside.left-panel.collapsed i.fa, aside.left-panel.collapsed i.glyphicon {font-size:22px;}
	aside.left-panel.collapsed .navigation > ul > li.has-submenu:after{display:none;}
}

/*****************************
Navigation
*****************************/
.navigation{margin:29px 0px 20px 0px;}
.navigation > ul > li{position:relative;}
.navigation > ul > li.has-submenu:after{content:"\f105"; font-family: 'FontAwesome'; display:inline-block; position:absolute; color:#7a7e8a; right:15px; transition: all 0.4s; -moz-transition: all 0.4s; -webkit-transition: all 0.4s; -o-transition: all 0.4s; top:10px; visibility:hidden;}
.navigation > ul > li.active.has-submenu:after,
.navigation > ul > li.has-submenu:hover:after{color:#fff;}
.navigation > ul > li > a{display:block; padding:12px 25px; color:#7a7e8a; text-transform:uppercase; font-size:13px; text-decoration:none; font-weight:800; border-bottom:1px solid #2f3444; transition: all 0.4s; -moz-transition: all 0.4s; -webkit-transition: all 0.4s; -o-transition: all 0.4s;}
.navigation > ul:hover > li.active > a{background-color:transparent; box-shadow:none; color:#7a7e8a;}
.navigation > ul > li:hover > a, .navigation > ul > li.active:hover > a, .navigation > ul > li.active > a{color:#fff; background-color: #ff404b; -webkit-box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.3); box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.3);}
.navigation ul li a i{margin-right:6px; font-size:14px;}

/*** Sub Menu ***/
.navigation ul li ul{display:none; background-color:#333747; -webkit-box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.2); box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.2);}
aside:not(.collapsed) .navigation ul li.active ul{display:block;}
.navigation ul li ul li a{padding:8px 25px; color:#5e6271; text-decoration:none; white-space:nowrap; transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s; font-size:13px; border-left:0px solid #5e6271; text-align:left; display:block;}
.navigation ul li ul li a:hover, .navigation ul li ul li.active a{border-left:5px solid #5e6271; color:#5e6271;}

/*** Aside Collapsed Sub Menu ***/
@media (min-width: 768px) {
	aside.left-panel.collapsed .navigation ul li ul{position:absolute; z-index:3; left:100%; top:0px; background-color:#F2F2F4; box-shadow:none; padding:10px 0px; min-width:200px; border:1px solid #dddddd;}
	aside.left-panel.collapsed .navigation ul li ul:before{display:block; content:""; height:20px; width:20px; border-color: transparent #F2F2F4 transparent transparent; border-width:10px; border-style:solid; position:absolute; cursor:pointer; right:100%; top:22px;}
	aside.left-panel.collapsed .navigation > ul > li:hover > ul{display:block !important;}
	aside.left-panel.collapsed .navigation ul li ul li a{border:0px; color:#8f8f9f; border-bottom:1px dashed #ECECEE;}
}

/*****************************
Top Header
*****************************/
header { left: 0; position: fixed; top: 0; width: 100%; z-index: 10;}
header > div.container-fluid {background-color:#f2f2f4; border-bottom:1px solid #ececee; padding-top:0; padding-bottom:0;}
header .margin-left {margin: 0 0 0 230px; border-radius: 0;}
header .navbar-form.navbar-right {margin-bottom: 3px; margin-top: 7px;}
header .navbar-text.navbar-right {margin-bottom: 12px; margin-top: 12px;}
header .top-head {padding-bottom: 0; padding-top: 0;}
.breadcrumb.alert {padding: 2px 25px; font-size: .8em;}
.navbar-toggle{margin:5px 4px; display:block; padding-left:0px;}
.navbar-toggle .icon-bar{background-color:#b3b3be;}
.app-search{position:relative; margin-top:8px; margin-bottom:8px; margin-right:15px;}
.app-search .form-control, .app-search .form-control:focus{border:1px solid #d3d3db; font-size:13px; color:#c4c4cd; padding-left:30px; background:none; box-shadow:none;}
.app-search:before{content:"\f002"; position:absolute; left:12px; font-family: FontAwesome; cursor:pointer; top:7px; color:#c4c4cd; display:inline-block;}
.app-search .form-control::-moz-placeholder {color:#c4c4cd;}

/*** Nav Toolbar (right)***/
header .navbar-default .navbar-nav > li > a{color:#b3b3be;}

/*** Nav Toolbar (right)***/
.nav-toolbar {display: inline-block; margin: 0; padding: 0;}
.nav-toolbar > li{padding:0px; display:inline-block; margin-left:5px; position:relative; list-style:none;}
.nav-toolbar li span.badge{position:absolute; top:-3px; right:-3px; background-color:#8d82b5; font-weight:300; cursor:pointer; height:18px; width:18px; padding:1px;}
.nav-toolbar li span.badge.bg-info{background-color:#8d82b5;}
.nav-toolbar li span.badge.bg-warning{background-color:#E35B5A;}
.nav-toolbar > li > a{color:#d3d3db; font-size:18px; border:1px solid #d3d3db; border-radius:50px; height:34px; width:34px; text-align:center; display:block; padding:4px;}
.nav-toolbar > li > a:hover{color:#C1C1C9; border:1px solid #C1C1C9;}
.nav-toolbar .dropdown-menu.panel{padding-top:0px; padding-bottom:0px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);}

/*****************************
Panel Styling
*****************************/
.panel{margin-bottom:10px;}
.panel-heading{font-weight:700;}
.panel-heading small,
.panel-heading span,
.panel-heading.un-bold{font-weight:400;}

/*** default ***/	
.panel-default > .panel-heading, .panel-default > .panel-footer{border-color: #e8e8eb; box-shadow:none;}
.panel-default > .panel-heading,
.btn-default{color:#9D9EA5;}
	
/*** primary ***/
.panel-primary{border-color:#8d82b5;}
.panel-primary > .panel-heading,
.panel-primary > .panel-footer{border-color: #8d82b5; background-color:#8d82b5; box-shadow:none;}
	
/*** success ***/
.panel-success{border-color:#70ba63;}
.panel-success > .panel-heading,
.panel-success > .panel-footer{border-color: #70ba63; background-color:#70ba63; color:#fff; box-shadow:none;}

/*** info ***/
.panel-info{border-color:#4cbceb;}
.panel-info > .panel-heading,
.panel-info > .panel-footer{border-color: #4cbceb; background-color:#4cbceb; color:#fff; box-shadow:none;}
	
/*** warning ***/
.panel-warning{border-color:#feb252;}
.panel-warning > .panel-heading,
.panel-warning > .panel-footer{border-color: #feb252; background-color:#feb252; color:#fff; box-shadow:none;}
	
/*** danger ***/
.panel-danger{border-color:#e35b5a;}
.panel-danger > .panel-heading,
.panel-danger > .panel-footer{border-color: #e35b5a; background-color:#e35b5a; color:#fff; box-shadow:none;}
	
/*** Clean Panel Heading ***/
.panel-heading.clean, .panel-footer.clean{background:none; border:none;}

/*****************************
 Dropdown
*****************************/
.dropdown-menu{}
.dropdown-menu > li > a{color:#84868e;}

/*** Dropdown Menu Sizes ***/
.dropdown-menu.md{min-width:300px}
.dropdown-menu.lg{min-width:400px;}
.dropdown-menu.arrow:after, .dropdown-menu.arrow:before{content:""; display:block; position:absolute; height:11px; width:11px; border-color:inherit; border-style:solid; border-width:11px; border-top-color:transparent; border-left-color:transparent; border-right-color:transparent; border-bottom-color:transparent; position:absolute; bottom:100%; left:6px;}
.dropdown-menu.arrow.arrow-top-right, .dropdown-menu.arrow.arrow-top-left{top:calc(100% + 15px);}

/**Top Right Arrow**/
.dropdown-menu.arrow.arrow-top-right:after, .dropdown-menu.arrow.arrow-top-right:before{border-bottom-color:inherit; right:6px; left:auto;}
.dropdown-menu.arrow.arrow-top-right:before{right:5px; left:auto;}
.dropdown-menu.arrow.arrow-top-right:after{border-bottom-color:#fff;}

/**Top Left Arrow**/
.dropdown-menu.arrow.arrow-top-left:after,
.dropdown-menu.arrow.arrow-top-left:before{border-bottom-color:inherit; left:6px; left:auto;}
.dropdown-menu.arrow.arrow-top-left:before{left:5px;}
.dropdown-menu.arrow:after{height:10px; width:10px; border-width:10px;}
.dropdown-menu.arrow.panel-default:after{border-bottom-color:#F5F5F5;}

/*****************************
Content Area (right)
*****************************/
.content {height: 100%; padding: 67px 0 0 230px; width: 100%;}
.content > div {height: 100%; overflow: auto; width: 100%;}
.warper {background-color: #e6e6e7; margin-bottom: -40px; min-height: 100%; padding: 20px 25px 40px 25px;}

/*** Page Header / Page Title ***/

.page-header{margin:0px; border:0px; padding: 0;}
.page-header h1{color:#84868e; font-weight:300; font-size:32px; margin: 5px 20px 0 0;}
.page-header *{font-weight:300;}
.page-header * small{font-size:14px; color:#9D9EA5;}

/*****************************
Footer
*****************************/
.footer {background-color: #f2f2f4; border-top: 1px solid #ececee; height: 40px; padding: 10px; position: relative;}

/*****************************
 Form Elements
*****************************/

/*** Custom Colors Btn ***/
.btn-primary{background-color:#8d82b5; border-color:#6b5f98; color:#fff;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{background-color:#6b5f98; color:#fff;}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {background-color:#8d82b5; border-color:#6b5f98;}
.btn-green{background-color:#70ba63; border-color:#579e4b; color:#fff;}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-primary{background-color:#579e4b; color:#fff;}
.label-primary {background-color: #8d82b5;}
.label-primary:hover, .label-primary:focus, .label-primary:active, .label-primary.active, .label-primary[href]:hover, .label-primary[href]:focus {background-color:#6b5f98; color:#fff;}

/*****************************
 Color >> Backgrounds + Text 
*****************************/
.bg-white{background-color:#fff;}
.text-white{color:#fff;}
.bg-pink{background-color:#eaa1bd;}
.text-pink{color:#eaa1bd;}
.bg-yellow{background-color:#f9dc85;}
.text-yellow{color:#f9dc85;}
.bg-gray{background-color:#b2b2b2;}
.text-gray{color:#b2b2b2;}
.bg-lightgray{background-color:#fbfbfd;}
.text-lightgray{color:#fbfbfd;}
.bg-red{background-color:#F16364;}
.text-red{color:#F16364;}
.bg-blue{background-color:#00a0e6;}
.text-blue{color:#00a0e6;}
.bg-green{background-color:#67BF74;}
.text-green{color:#67BF74;}
.bg-purple{background-color:#8d82b5;}
.text-purple{color:#8d82b5;}
.bg-orange{background-color:#F58559;}
.text-orange{color:#F58559;}
.bg-test{background-color:#79B9D9;}
.text-test{color:#79B9D9;}
.bg-warning{background-color:#FEB252;}
.text-warning{color:#FEB252;}
.bg-danger{background-color:#E9573F;}
.text-danger{color:#E9573F;}
.bg-success{background-color:#70BA63;}
.text-success{color:#70BA63;}
.bg-info{background-color:#4DC5F9;}
.text-info{color:#4DC5F9;}
.bg-primary:hover {color: white;}

/*****************************
 Grid
*****************************/

.row.no-gutter {margin-left: 0; margin-right: 0;}
.row.no-gutter [class*="col-"]:not(:first-child), .row.no-gutter [class*="col-"]:not(:last-child) {padding-left: 0; padding-right: 0;}

/*****************************
Styled Radio/Checkbox
*****************************/
.cr-styled{display:inline-block; margin:0px 2px;}
.cr-styled i{display:inline-block; height:20px; width:20px; cursor:pointer; vertical-align:middle; border:2px solid #CCC; border-radius:3px; text-align:center; padding-top:1px; font-family: 'FontAwesome';}
.cr-styled input{visibility:hidden; display:none;}

/* Checkbox */
.cr-styled input[type=checkbox]:checked + i:before, tr.active .check-item i:before, .all-selected .check-all i:before{content: "\f00c";}

/* Radio */
.cr-styled input[type=radio] + i{border-radius:20px;}
.cr-styled input[type=radio]:checked + i:before{content: "\f111";}

/*** cr-styled Theaming/Colorss ***/
.cr-styled input:checked + i{border-color:#a49bc4; color:#a49bc4;}

.panel-heading.filter:after {background-color: #8d82b5; border-top-right-radius: 5px; color: white; content: "BUSCAR"; display: block; font-size: 13px; font-weight: normal; height: 20px; left: -29px; letter-spacing: 1px; line-height: 20px; position: absolute; text-align: center; top: 26px; transform: rotate(-90deg); width: 75px;}
.panel-heading.filter {padding-left: 30px; position: relative;}
.datepicker {padding: 6px 10px;}
.login .btn-primary {margin: 20px 0;}
.body-login .scrollToTop {display: none;}
hr.clean {border: 0 none;}

/****Dashboard Stats****/
.dashboard-stats.panel{position:relative; cursor:pointer; padding:10px 10px 10px 90px;}
.dashboard-stats i.fa.stats-icon{width:64px; padding:20px; font-size:28px; position:absolute; margin-left:10px; left:0px; top:10px; text-align:center; z-index:1; color:#fff; height:64px;}	
.dashboard-stats.rounded i.fa.stats-icon, .dashboard-stats.rounded.panel{border-radius:50px;}
.dashboard-stats .sparkline{position:absolute; left:30px; top:20px; opacity:0;}
.dashboard-stats h3 {margin-bottom: 5px; margin-top: 4px;}
.dashboard-stats small{font-size:14px; margin-left:6px; opacity:0.8;}
.dashboard-stats:hover i.fa.stats-icon{/*right:10px;*/ left:100%; margin-left:-90px;}
.dashboard-stats:hover h3, .dashboard-stats:hover p{opacity:0;}
.dashboard-stats:hover .sparkline, .dashboard-stats:hover i.fa.stats-icon{opacity:1;}

